body{
    margin: 0%;
    padding: 0%;
    background-color: cornflowerblue;
    color: bisque;
    text-align: center;
    background-image: url(https://cdn.pixabay.com/photo/2019/01/31/11/13/stingrays-3966533_1280.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100px;
}

h1{
    font-size: 45px;
}
input{
    width: 75px;
    height: 50px;
    font-size: 45px;
    border-radius: 20px;
    margin: 10px;
    background-color: white;
    color: black;
}
.btn:hover{
    background-color: coral;
    cursor: pointer;
}
@media (max-width: 768px) {
    .button-grid {
      grid-template-columns: repeat(2, 1fr);
    }
    body{
        text-align: center;
    }
  }
  
  @media (max-width: 480px) {
    .button-grid {
      grid-template-columns: 1fr;
    }
    body{
        text-align: center;
    }
  }
  